/*Uni St.Gallen Farbcode : grün: #00762C  weiß: #ffffff*/

/*Uni Kassel Farbcode: magenta: #C60059   weiß: #ffffff*/

@import url('/static/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
html, body {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #212121;
}

textarea:focus, input:focus{
  outline: none;
}

a {
  color: #00762C;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

button {
  border: none;
  outline-color: transparent;
}

.hidden {
  display: none !important;
}

/* ändern der Überschrift/ Chatbot Namens*/

h1 {
  color: white;
  margin-top: auto;
  text-align: center;
  border-radius: 5px;
  overflow: visible;
  width: inherit;
}

/* ändern der Darstellung des kleinen Chatbotnamens über der Chatbox*/

h2 {
  color: #808080;
  font-size: 10px;
  margin-top: 3px;
  text-align: left;
}

/* ändern der Schrift innerhalb der Eingabefensters*/

h3 {
  margin-top: 0;
  font-size: 20px;
}

/*Ändern der Urzeit unterhalb der Chatbox*/

h5 {
  color: grey;
  font-size: 10px;
  margin-right: 15%;
  text-align: right;
}

.chatbot {
  display: block;
  width: 800px;
  height: calc(100vh - 100px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 0px 0px 36px -3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.header {
  display: block;
  width: 100%;
  height: 64px;
  background-color: #00762C;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.header-logo {
  display: block;
  width: 64px;
  height: 64px;
  float: left;
  background-image: url("/static/hsg-logo.svg");
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.header-botname {
  display: block;
  width: 200px;
  height: 64px;
  line-height: 64px;
  float: left;
  font-size: 18pt;
}

.header-button-bar {
  display: block;
  float: right;
}

.header-button {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 17px 17px 17px 0;
  padding: 0 10px;

  background-color: #ffffff;
  color: #00762C;

  border-radius: 5px;

  cursor: pointer;
}

.header-button span {
  margin-left: 5px;
}

#progress {
  display: block;
  width: 0;
  height: 25px;
  background-color: #32a05a;
  color: white;
  text-align: center;
  font-size: 16px;

  padding-top: 4px;
  box-sizing: border-box;

  transition: width 0.3s ease;
}

#scrollbox {
  display: block;
  position: relative;
  width: 100%;
  height: calc(100vh - 100px - 64px - 50px - 25px);
  overflow-y: scroll;
}

#feedback, #privacy, #answers, #help {
  display: none;
  width: 100%;
  height: calc(100vh - 64px - 25px);
  padding: 30px;
  box-sizing: border-box;

  text-align: center;
}

#feedback button, #privacy button, #answers button, #help button {
  background-color: #ffffff;
  color: #00762C;
  border: 1px solid #00762C;
  border-radius: 5px;
  padding: 7px 10px;

  font-size: 14pt;
  cursor: pointer;
}

#feedback button.button-primary, #privacy button.button-primary, #answers button.button-primary, #help button.button-primary {
  background-color: #00762C;
  color: #ffffff;
}

#feedback-form {
  display: block;
}

#feedback-form label {
  margin-right: 10px;
}

#feedback fieldset {
  border: none;
  width: 100%;
}

/****** Style Star Rating Widget *****/

fieldset.rating {
  width: 150px !important;
  margin-left: auto;
  margin-right: auto;
}

.rating > input { display: none; } 
.rating > label:before { 
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


#feedback textarea {
  width: 100%;
  max-width: 400px;
  resize: vertical;
  padding: 10px;
  box-sizing: border-box;

  border: 1px solid #00762C;
  border-radius: 5px;
}

/* Mit diesem Abschnnitt kann die Box verändert werden, in der die Konversation stattfindet*/

.messagecontainer {
  display: block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
}

/*anpassen der Chatbox*/

#chatbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/*Anpassen des Eingabefeldes*/

#typing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/*Anpassen der Box, in der die Eingabe stattfinden soll*/

#userInput {
  width: 100%;
  height: 50px;
  display: block;
  background-color: #F4F4F4;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 0 0 10px 10px;
}

/*Einstellen des "Message" Feldes*/

#textInput {
  width: calc(100% - 90px);
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
}

#buttonSkip {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #00762C;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

#buttonSkip:hover {
  background-color: #dfdfdf;
}

/*Einstellen des "Send" Buttons*/
#buttonInput {
  width: 40px;
  height: 40px;
  background-color: #00762C;
  color: #ffffff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

#buttonInput:hover {
  background-color: #009135;
}

/* Einstellungen an den Chatbuttonvorschlägen, welche in der Datenbank festgelegt wurden*/

.chatSuggest {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: #00762C;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
}

.chatSuggest:hover {
  background: #009135;
}

.chatSuggest:disabled {
  background: #808080;
  cursor: default;
}

/*Einstellungen am User-Gesprächsfeld*/

.userText {
  display: block;
  padding: 10px;
  /* box-sizing: border-box; */
  float: right;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  background-color: #00762C;
  border-radius: 10px;
}

/* Einstellungen am Gesprächsfeld des CHatbots*/

.botText {
  display: flex;
  width: 85%;
  min-height: 84px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 25px;
  background-color: #F4F4F4;
  border-radius: 10px;
}

.message {
  display: block;
  width: 100%;
  min-height: 60px;
}

.message-botname {
  display: block;
  width: 85%;
  margin: 5px;
  text-align: left;
  font-weight: bold;
  color: #808080;
  font-size: 12px;
}

.avatar-wrapper {
  display: block;
  width: 64px;
  float: left;
}

/*Bei Nutzung eines Avatars*/

.avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.data-wrapper {
  display: block;
  width: calc(100% - 80px);
  float: right;
  padding-left: 20px;
  box-sizing: border-box;
}

.message-time {
  display: block;
  width: 85%;
  margin: 5px;
  text-align: right;
  font-weight: bold;
  color: #808080;
  font-size: 12px;
}

/* Falls man keinen Avatar nutzen möchte: */

/*
.avatar{
  -webkit-border-radius: 0px;
  border-radius: 0px;
  max-width: 0px;
  max-height: 0px;
}*/

#tidbit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}

@media only screen and (max-width: 1000px) {
  .chatbot {
    display: block;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    box-shadow: 0;
    border-radius: 0;
  }

  .header {
    border-radius: 0;
  }

  .header-button span {
    display: none;
  }

  #userInput {
    border-radius: 0;
  }

  #scrollbox {
    height: calc(100vh - 64px - 50px - 25px);
  }

  .avatar-wrapper {
    width: 42px;
  }

  .data-wrapper {
    width: calc(100% - 48px);
  }
  
  /*Bei Nutzung eines Avatars*/
  
  .avatar {
    width: 42px;
    height: 42px;
  }
}